<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple design automation tool for JUMP assembly</title>
        <!-- Favicon
        <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico" />-->
        <!-- Fonts and icons -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,200" rel="stylesheet" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
        <link href="../static/css/user.css" rel="stylesheet" />
    </head>
    <body>
        <div id="loading">
            <img src="../static/img/loading-infinite.gif"/>
        </div>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end" id="sidebar-wrapper" style="font-family:Roboto">
                <div style='height:70px;text-align:center; background-color: #80a1b8; cursor: pointer;' class="sidebar-heading border-bottom" onclick="location.href='jump.html';" >
                    <img style='width:120px;' src="../static/img/jump-logo.png" href="{{ url_for('jump_home') }}"/>
                </div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('jump_domesticate') }}"><span class="material-symbols-outlined">arrow_circle_right</span>&nbsp;&nbsp;&nbsp;Domesticate Part</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('jump_simulate') }}"><span class="material-symbols-outlined">arrow_circle_right</span>&nbsp;&nbsp;&nbsp;Simulate Assembly</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('jump_visualize') }}"><span class="material-symbols-outlined">arrow_circle_right</span>&nbsp;&nbsp;&nbsp;Visualize Construct</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('jump_automate') }}"><span class="material-symbols-outlined">arrow_circle_right</span>&nbsp;&nbsp;&nbsp;Automate Design</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('jump_guideline') }}"><span class="material-symbols-outlined">arrow_circle_right</span>&nbsp;&nbsp;&nbsp;Guidelines</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">-->
                    <div style='height:70px; background-color: #8fb3cd;' class="container-fluid border-bottom">
                        <!--<button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>-->
                    </div>
                <!--</nav>
                 Page content-->
                <div class="container-fluid">
                    <form method="POST" action="{{ url_for('jump.run_part_domestication') }}" enctype="multipart/form-data">
                        <h4 class="mt-4">Create level 0 parts out of template plasmids</h4>
                        
                        <br/>
                        <div class="card-body" id="parts_setup">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Parts (tabular format in .csv):</p>
                                    <input type="file" class=" form-control" id="parts_id" name="parts"/>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Name mapping (optional, tabular format in .csv):</p>
                                    <input type="file" class=" form-control" id="map_id" name="map"/>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Template plasmids (FASTA format in .zip):</p>
                                    <input type="file" class=" form-control" id="plasmids_id" name="plasmids"/>
                                </div>
                            </div>
                            <br/>

                            <div class="row">
                                <div class="col-md-6">
                                    <input type="reset" class="btn btn-warning btn-fill" id="reset_id" name="reset" value="Reset"/>
                                    <input type="submit" class="btn btn-info btn-fill" id="submit_id" name="submit" value="Generate Primers" onclick="loading()"/>
                                </div>
                            </div>

                            <div id="Progress_Status">
                                <div id="myprogressBar"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../static/js/scripts.js"></script>
        <script type="text/javascript">// <![CDATA[
            function loading() {
                var loading = document.getElementById("loading");
                loading.style.display = 'block';
            }
    // ]]></script>
    </body>
</html>
